
// Enables nextflows dsl2 syntax
nextflow.enable.dsl=2


// Load base.config by default for all pipelines
// includeConfig "conf/base.config"

profiles {
    ilifu {
        includeConfig "conf/base.config"
        includeConfig "conf/ilifu-cluster.config"
    }
    sanbi {
        includeConfig "conf/base.config"
        includeConfig "conf/sanbi-cluster.config"
    }
    station {
        includeConfig "conf/base.config"
    }
    /*
        For custom configuration edit conf/custom.config
        Description of useful pipeline parameters can be found in the file

        Additional parameters can be found here:
                https://www.nextflow.io/docs/latest/config.html?highlight=config
    */
    custom {
        includeConfig "conf/custom.config"
    }
}

manifest {
    name                   = "Zoon0PredV"
    author                 = "Rudolph Serage"
    homePage               = "https://github.com/Rudolph-afk/Zoon0Pred.git"
    description            = "This pipeline implements chaos game representation on protein sequences and trains a CNN to predict virus zoonotic propensity"
    mainScript             = "main.nf"
    version                = "0.2.0"
    doi                    = ""
    nextflowVersion        = "20.07.1+"
}

timeline {
  enabled                  = true
  overwrite                = true
  file                     = "$params.saveDir/info/Zoon0PredV_timeline.html"
}

report {
  enabled                  = true
  overwrite                = true
  file                     = "$params.saveDir/info/Zoon0PredV_report.html"
}

trace {
  enabled                  = true
  overwrite                = true
  file                     = "$params.saveDir/info/Zoon0PredV_trace.txt"
}

dag {
  enabled                  = true
  overwrite                = true
  file                     = "$params.saveDir/info/Zoon0PredV_DAG.svg"
}
