
// Enables nextflows dsl2 syntax
nextflow.enable.dsl=2

params {
    save                = true
    saveDir             = "data/Zoon0PredV-OUT/"
    publish_dir_mode    = "symlink"
    prot                = "data/uniprot-keyword Virus+entry+into+host+cell+[KW-1160] +fragment no.tab.gz"
    protedi             = "data/Viral+attachment+to+host+cell+[KW-1161].tab.gz"
    ncbiVirus           = "data/sequences.csv"
    eID                 = "data/virus_host_4rm_untitled.csv"
    virusDB             = "data/virushostdb.tsv"
    fasta               = "data/uniprot-keyword Virus+entry+into+host+cell+[KW-1160] +fragment no.fasta"
    trainOnly           = false
    testOnly            = false
}

singularity {
    enabled         = true
}

// workflow.container       = "/home/campbell/Documents/Rudolph/containers/Zoon0Pred.sif"
// workflow.containerEngine = "singularity"
// workflow.workDir         = "/home/campbell/Documents/Rudolph/work"

process {
    withName: "ChaosGameRepresentation" {
        container           = "../containers/R-Zoon0Pred.sif"
    }
    withName: "ModelTraining|PrepData" {
        container           = "../containers/GPU-Zoon0Pred.sif"
        containerOptions    = "--nv"
    }
    // container            = "/home/campbell/Documents/Rudolph/containers/Zoon0Pred.sif"
    // containerOptions     = { workflow.containerEngine == "singularity" ? "--nv":
    //                        ( workflow.containerEngine == "docker" ? "--gpus all": null ) }
    // errorStrategy        = "ignore" // { sleep(3000); return 'retry' } // Dynamic Retry with backoff
}

// Load base.config by default for all pipelines
// includeConfig "conf/base.config"

profiles {
    ilifu {
        includeConfig "$base/conf/base.config"
        includeConfig "$base/conf/ilifu-cluster.config"
    }
    sanbi {
        includeConfig "$base/conf/sanbi-cluster.config"
    }
    gpu {
        includeConfig "$base/conf/base.config"
    }
    custom {
//        includeConfig ""
    }
}

// Trace

// Mail

// DAG graph

// Report

manifest {
    homePage        = "https://github.com/Rudolph-afk/Zoon0Pred.git"
    author          = "Rudolph Serage"
    description     = "Pipeline does this and that"
    mainScript      = "main.nf"
    version         = "0.1.0"
    doi             = ""
    nextflowVersion = ""
}

timeline {
  enabled                  = true
  file                     = "${params.saveDir}/pipeline_info/Zoon0PredV_timeline.html"
}
report {
  enabled                  = true
  file                     = "${params.saveDir}/pipeline_info/Zoon0PredV_report.html"
}
trace {
  enabled                  = true
  file                     = "${params.saveDir}/pipeline_info/Zoon0PredV_trace.txt"
}
dag {
  enabled                  = true 
  file                     = "${params.saveDir}/pipeline_info/Zoon0PredV_DAG.svg"
}
