params {
    save                = true
    saveDir             = "data"
    publish_dir_mode    = "symlink"
    prot                = "data/uniprot-keyword Virus+entry+into+host+cell+[KW-1160] +fragment no.tab.gz"
    protedi             = "data/Viral+attachment+to+host+cell+[KW-1161].tab.gz"
    ncbiVirus           = "data/sequences.csv"
    eID                 = "data/virus_host_4rm_untitled.csv"
    virusDB             = "data/virushostdb.tsv"
    fasta               = "data/uniprot-keyword Virus+entry+into+host+cell+[KW-1160] +fragment no.fasta"
}

workflow {
    container       = "containers/Zoon0Pred.sif"
    containerEngine = "singularity"
}

process {

    containerOptions = { workflow.containerEngine == "singularity" ? "--nv":
                        ( workflow.containerEngine == "docker" ? "--gpus all": null ) }
    errorStrategy    = "retry" // { sleep(3000); return 'retry' } // Dynamic Retry with backoff
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"

manifest {
    author          = "Rudolph Serage"
    description     = "Pipeline does this and that"
    mainScript      = "main.nf"
    version         = "1.0.0"
    doi             = ""
    // nextflowVersion = ""
}