
process {
    withLabel: "with_cpus" {
        cpus = 8
        memory = '30G'
    }
  
    withLabel: "with_gpus" {
        maxForks = 1
        containerOptions = { workflow.containerEngine == "singularity" ? "--nv":
        ( workflow.containerEngine == "docker" ? "--gpus all": null ) }
    } 
}