
/**
    ##################### BOILER PLATE CODE FOR CUSTOM CONFIGURATION ###########################
*/

singularity {
    enabled                 = true
    cacheDir                = "$projectDir/singularity-images/" // Save image(s) when pulling from sylabs
}

docker {
    enabled                 = true
    cacheDir                = "$projectDir/docker-images/" // Save image(s) when pulling from docker hub
}

process {
    withLabel: "with_cpus" {
        /**
            The R code runs in parallel. Efficiency is dependant on number of CPUs.
            More CPUs require more RAM, R is single threaded so thred count doesn't matter

            CPU to RAM ration:
                16:19 (Not accurate, but close enough)

            For 16 CPUs you need about 19GB of RAM

        */

        executor            = "slurm" // **not requred when using local machine
        cpus                = 40
        memory              = "48G"
    }

    withLabel: "with_gpus" {
        /**
            Uses tensorflow CPU version, much slower but can be relatively fast on a cluster.
            Not sure on number if CPUs and RAM but there will be no OOM error for RAM > 8GB.

            For GPU please make sure you at least have a 8G GPU with compute capability > 3.5
        */

        executor            = "slurm" // **not requred when using local machine
        cpus                = 40
        memory              = "200G"
        queue               = process.executor =~ /local/ ? null : "GPU" // Specifies partition **not requred when using local machine
        container           = "" // Path to container. If not absolute path, assumes container repo

        /**
            To enable containers to use GPU otherwise it will use CPU even if on a GPU machine
        */
        containerOptions    = { workflow.containerEngine == "singularity" ? "--nv":
                                ( workflow.containerEngine == "docker" ? "--gpus all": null ) }
    }
}