
process {
    withLabel: "with_cpus" {
        executor            = "slurm"
        cpus                = 32 // Takes about an hour max for each run
        memory              = "48G" // Max has been 37.43 GB but using 48GB to prevent OOM error
    }

    withLabel: "with_gpus" {
        executor            = "slurm"
        cpus                = 16 // Doesn't need a lot of CPUs. GPU handles much of the load
        memory              = "32G" // Mostly uses GPU memory
        queue               = "GPU" // Specifies partition -- https://docs.ilifu.ac.za/#/tech_docs/running_jobs?id=notes-for-gpu-jobs
        containerOptions    = "--nv" // Required for GPU usage with singularity containers
        maxForks            = 4 // There are 4 ilifu GPU nodes (currently) **not required but may be useful to control usage
    }
}

