
process {
    withLabel: "with_cpus" {
        cpus     = 40
        memory   = '200G'
    }
  
    withLabel: "with_gpus" {
        container           = "../containers/GPU-Zoon0Pred.sif"
        containerOptions    = "--nv"
        maxForks            = 4
        // https://docs.ilifu.ac.za/#/tech_docs/running_jobs?id=notes-for-gpu-jobs
        clusterOptions      = '--partition=GPU'
    }
}