
process {
    withLabel: "with_cpus" {
        /**
            The R code runs in parallel. Efficiency is dependant on number of CPUs.
            More CPUs require more RAM, R is single threaded so thred count doesn't matter
        */

        executor            = "slurm"
        cpus                = 40
        memory              = "64G"
    }
  
    withLabel: "with_gpus" {
        /**
            Uses tensorflow CPU version, much slower but can be relatively fast on a cluster.
            Not sure on number if CPUs and RAM but there will be no OOM error for RAM > 8GB
        */
        executor            = "slurm"
        container           = "../containers/tf-keras-vis.sif" // Container with tensorflow for CPU
        cpus                = 40
        memory              = "200G"
    }
}